<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350990676021-6kjqtf4skghi45tqcggg598d19j36v4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350990676021-6kjqtf4skghi45tqcggg598d19j36v4l</string>
	<key>API_KEY</key>
	<string>AIzaSyCxjE3nJMzOBNw7Lq_eVbJJ4ACzl6UlOIU</string>
	<key>GCM_SENDER_ID</key>
	<string>350990676021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Justin-Trubela.MScoots</string>
	<key>PROJECT_ID</key>
	<string>mscootsfs</string>
	<key>STORAGE_BUCKET</key>
	<string>mscootsfs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350990676021:ios:4871edec7b7c6f8958817c</string>
</dict>
</plist>